.main-container {
  background-color: red;
  height: 1500px;
}
.main-container__button_red {
  color: red;
}
.main-container__button_red__button {
  color: aqua;
}
.main-container__button_red__button_red {
  color: red;
}
.main-container__button_red__button_blue {
  color: blue;
}
